@font-face {
  font-family: "Aleo";
  src: url("../font/aleo/Light/aleo-light-webfont.eot"), url("../font/aleo/Light/aleo-light-webfont.svg"), url("../font/aleo/Light/aleo-light-webfont.ttf"), url("../font/aleo/Light/aleo-light-webfont.woff"), url("../font/aleo/Light/aleo-light-webfont.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url("../font/aleo/Light-Italic/aleo-lightitalic-webfont.eot"), url("../font/aleo/Light-Italic/aleo-lightitalic-webfont.svg"), url("../font/aleo/Light-Italic/aleo-lightitalic-webfont.ttf"), url("../font/aleo/Light-Italic/aleo-lightitalic-webfont.woff"), url("../font/aleo/Light-Italic/aleo-lightitalic-webfont.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aleo";
  src: url("../font/aleo/Regular/aleo-regular-webfont.eot"), url("../font/aleo/Regular/aleo-regular-webfont.svg"), url("../font/aleo/Regular/aleo-regular-webfont.ttf"), url("../font/aleo/Regular/aleo-regular-webfont.woff"), url("../font/aleo/Regular/aleo-regular-webfont.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url("../font/aleo/Regular-Italic/aleo-italic-webfont.eot"), url("../font/aleo/Regular-Italic/aleo-italic-webfont.svg"), url("../font/aleo/Regular-Italic/aleo-italic-webfont.ttf"), url("../font/aleo/Regular-Italic/aleo-italic-webfont.woff"), url("../font/aleo/Regular-Italic/aleo-italic-webfont.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Aleo";
  src: url("../font/aleo/Bold/aleo-bold-webfont.eot"), url("../font/aleo/Bold/aleo-bold-webfont.svg"), url("../font/aleo/Bold/aleo-bold-webfont.ttf"), url("../font/aleo/Bold/aleo-bold-webfont.woff"), url("../font/aleo/Bold/aleo-bold-webfont.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url("../font/aleo/Bold-Italic/aleo-bolditalic-webfont.eot"), url("../font/aleo/Bold-Italic/aleo-bolditalic-webfont.svg"), url("../font/aleo/Bold-Italic/aleo-bolditalic-webfont.ttf"), url("../font/aleo/Bold-Italic/aleo-bolditalic-webfont.woff"), url("../font/aleo/Bold-Italic/aleo-bolditalic-webfont.woff2");
  font-weight: 700;
  font-style: italic;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 260px;
  padding-bottom: 136px;
  color: #ffffff;
  font-family: "Aleo";
}

.header__title {
  background-image: url("../img/nature-mountains.png");
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header__sub-title {
  font-size: 22px;
  letter-spacing: 7px;
  text-transform: capitalize;
  margin-bottom: 54px;
}

.search-form {
  font-size: 0;
  padding-bottom: 120px;
}

.search-form__input {
  width: 77%;
  height: 60px;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 14px;
  border-radius: 0;
  border: none;
  text-align: center;
}

.search-form__button {
  width: 23%;
  box-sizing: border-box;
  height: 60px;
  border: 2px solid #ffffff;
  background-color: #5474fd;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.scroll-down {
  display: block;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.scroll-down:hover {
  color: #e8e8e8;
}

.scroll-down::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 17px;
  height: 17px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}

.logo {
  display: inline-block;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.menu {
  color: #ffffff;
  background-color: #5474fd;
}

.menu__list {
  list-style: none;
  margin-bottom: 0;
}

.menu__list-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.why-us {
  color: #ffffff;
  background-image: url("../img/castle.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 132px;
}

.info-card__title {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 205px;
  margin-bottom: 56px;
}

.info-card__text {
  font-size: 16px;
  color: #e8e8e8;
  letter-spacing: 1.6px;
}

.info-card__text:not(:last-of-type) {
  margin-bottom: 40px;
}

.info-card__button {
  margin-top: 48px;
  width: 224px;
  border: none;
  color: #ffffff;
  background-color: #5474fd;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 60px;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 45%, #5474fd 45%, #5474fd 100%);
}
/*# sourceMappingURL=style.css.map */