@import url(fonts.scss);
p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.header {
  background-image: url("../img/nature-mountains.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 260px;
  padding-bottom: 136px;
  color: #ffffff;
  font-family: "Aleo";
}

.header__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header__sub-title {
  font-size: 22px;
  letter-spacing: 7px;
  text-transform: capitalize;
  margin-bottom: 54px;
}

.search-form {
  font-size: 0;
  padding-bottom: 120px;
}

.search-form__input {
  width: 77%;
  height: 60px;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 14px;
  border-radius: 0;
  border: none;
  text-align: center;
}

.search-form__button {
  width: 23%;
  box-sizing: border-box;
  height: 60px;
  border: 2px solid #ffffff;
  background-color: #5474fd;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.scroll-down {
  display: block;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.scroll-down:hover {
  color: #e8e8e8;
}

.scroll-down::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 17px;
  height: 17px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}

.logo {
  display: inline-block;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.menu {
  color: #ffffff;
  background-color: #5474fd;
}

.menu__list {
  list-style: none;
  margin-bottom: 0;
}

.menu__list-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.why-us {
  color: #ffffff;
  background-image: url("../img/castle.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 132px;
}

.info-card__title {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 205px;
  margin-bottom: 56px;
}

.info-card__text {
  font-size: 16px;
  color: #e8e8e8;
  letter-spacing: 1.6px;
}

.info-card__text:not(:last-of-type) {
  margin-bottom: 40px;
}

.info-card__button {
  margin-top: 48px;
  width: 224px;
  border: none;
  color: #ffffff;
  background-color: #5474fd;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 60px;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 45%, #5474fd 45%, #5474fd 100%);
}

.img-mid-left {
  width: 66%;
  height: 220px;
  background-image: url("../img/nature-river.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 118px;
  margin-bottom: 5px;
  margin-left: 12%;
}

.img-right {
  background-image: url("../img/nature-mountains.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 66%;
  height: 220px;
  margin-left: 35%;
}

.country {
  background-image: url("../img/apartaments.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.country-card__country {
  text-transform: capitalize;
}

.country-card__title {
  text-transform: uppercase;
}

.country-card__button {
  border: none;
  color: #ffffff;
  background-color: #5474fd;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 60px;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 45%, #5474fd 45%, #5474fd 100%);
  padding-left: 65px;
  padding-right: 65px;
}
/*# sourceMappingURL=style.css.map */